/* Form.css */
.container {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #8a8af8; /* White background */
  border-radius: 10px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #000000; /* Black button */
  color: #ffffff; /* White text */
  cursor: pointer;
}

.form-container {
  margin-top: 20px;
}

.back-button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #000000; /* Black button */
  color: #ffffff; /* White text */
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

input, button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  background-color: #4a00e0; /* Vibrant purple background */
  color: #ffffff; /* White text */
  font-size: 16px; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.button:hover {
  background-color: #6a00ff; /* Slightly lighter purple on hover */
}

/* Add this class to your 'Register' and 'Login' buttons in the JSX */


/* Updated styles for the form container */
.form-container {
  background: linear-gradient(to bottom, #8e2de2, #4a00e0); /* Gradient background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* White text */
  padding: 10px;
  margin: auto; /* Center the form */
  width: 90%; /* Responsive width */
}

/* Updated input styles */
input {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333; /* Dark text for better readability */
}

/* Updated button styles */
button {
  background-color: #4a00e0; /* Purple button */
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 1em; /* Larger font size for mobile */
}

/* Link styles */
a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

/* Responsive design */
@media screen and (max-width: 430px) {
  .container {
    max-width: 100%;
    padding: 20px;
  }

  .form-container {
    width: 100%;
    padding: 20px; /* Adjust padding */
  }

  input, button {
    padding: 15px; /* Larger padding for touch targets */
  }
}
